<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.TeachersMapper">

    <resultMap id="BaseResultMap" type="generator.domain.Teachers">
            <id property="teacher_id" column="teacher_id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="gender" column="gender" jdbcType="INTEGER"/>
            <result property="birth_date" column="birth_date" jdbcType="DATE"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="fhone" column="fhone" jdbcType="VARCHAR"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="hire_date" column="hire_date" jdbcType="DATE"/>
            <result property="salary" column="salary" jdbcType="INTEGER"/>
            <result property="degree" column="degree" jdbcType="VARCHAR"/>
            <result property="major" column="major" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        teacher_id,name,gender,
        birth_date,email,fhone,
        address,title,hire_date,
        salary,degree,major
    </sql>
</mapper>
